<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success page</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
</head>
<body>
    <main className="success">
            <h2>Has reseteado la contraseña con éxito</h2>
            <p><%= email %>, has reseteado correctamente la contraseña. Vuelve a la página 
            inicial para entrar con tus nuevas credenciales.</p>
    </main>
</body>
</html>